<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/item.js"></script>
  <title id="title"></title>
</head>
<body>
  <%- include('header') %>
  <main class="content">
  <a href="/list/item">Up</a>
  <div id="item">
    <div style="font-size:20px"><span id="itemName"></span></div>
    <div>Price: <span id="itemPrice"></span>$</div>
    <div>Amount: <span id="itemAmount"></span> pcs.</div>
    <div>This item is <span id="itemAvailable"></span>.</div>
    <div><button onclick="buttonAddToCart(<%= itemID %>)">Add to cart</button>
  </div>
  </main>
  <%- include('footer') %>
  <script>document.onload = insertItem(<%= itemID %>)</script>
</body>
</html>
