<html>
  <head>
    <%- include('meta') %>
    <title>weppo - login</title>
  </head>

  <body>
    <%- include('header') %>

    <main class="content">
        <div class="login-form">
          <p style="font-size:35px">Log In</p>
          <form method="POST">
            <div><input name="email" type="email" placeholder="E-mail"></div>
            <div><input name="passwd" type="password" placeholder="Password"></div>
            <div class="enter-button"><button type="submit">Log In</button></div>
          </form>
        </div>
<!--
        <div class="container">
            <% for (let i = 0; i < info.length; i++) { %>
                <div class="alert alert-info" role="alert">
                    <%= info[i] %>
                </div>
            <% } %>
            <% for (let i = 0; i < warnings.length; i++) { %>
                <div class="alert alert-danger" role="alert">
                    <%= warnings[i] %>
                </div>
            <% } %>
        </div>
-->
    </main>

    <%- include('footer') %>
  </body>
</html>
