<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/order.js"></script>
  <title>weppo - orders</title>
</head>
<body>
  <%- include('header') %>
  <main class="content">
  <h1>Orders for user <%= username %></h1>
  <ul id="itemList"></ul>
  </main>
  <%- include('footer') %>
  <script>
    document.onload = insertOrderList(<%= username %>);
  </script>
</body>
</html>

