<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/order.js"></script>
  <title>weppo - orders</title>
</head>
<body>
  <%- include('header') %>
  <main class="content">
  <% if (admin) { %>
  <h1>Orders of user <%= otherUserID %></h1>
  <% } else { %>
  <h1>Your orders</h1>
  <% } %>
  <ul id="orderList"></ul>
  <div id="oops">Ooops... Nothing here</div>
  </main>
  <%- include('footer') %>
  <script>
    document.onload = insertOrderList(<%= otherUserID %>);
  </script>
</body>
</html>

