<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/order.js"></script>
  <title>weppo - order <%= orderID %></title>
</head>
<body>
  <%- include('header') %>
  <main class="content">
  <h1>Order <%= orderID %> <% if(admin) { %> for user <%= otherUser %> <% } %> </h1>
  <ul id="orderItemList"></ul>
  <div>Price: <span id="price"></span></div>
  <% if (!paid) { %>
  <button onclick="buttonPayOrder(<%= orderID %>)">Pay</button>
  <% } else { %>
  <div style="color:green">[paid]</div>
  <% } %>
  </main>
  <%- include('footer') %>
  <script>
    insertOrderItems(<%= orderID %>, <%= paid %>);
    insertPrice(<%= orderID %>);
  </script>
</body>
</html>

