<html>
  <head>
    <%- include('meta') %>
    <title>weppo - register</title>
  </head>

  <body class="d-flex flex-column h-100">
    <%- include('header') %>

    <main class="content">
        <div class="login-form">
          <p style="font-size:35px">Register</p>
          <form method="POST" id="register-form">
            <div>
              <div><label for="name">Name</label></div>
              <div><input name="name" type="text"></div>
            </div>
            <div>
              <div><label for="email">E-mail</label></div>
              <div><input name="email" type="email"></div>
            </div>
            <div>
              <div><label for="address">Address</label></div>
              <div><input name="address" type="text"></div>
            </div>
            <div>
              <div><label for="passwd">Password</label></div>
              <div><input name="passwd" type="password"></div>
            </div>
            <div>
              <div><label for="repasswd">Repeat password</label></div>
              <div><input name="repasswd" type="password"></div>
            </div>
            <div class="enter-button">
              <button type="submit">Sign up</button>
            </div>
          </form>
        </div>
<!--
        <div class="container">
            <% for (let i = 0; i < info.length; i++) { %>
                <div class="alert alert-info" role="alert">
                    <%= info[i] %>
                </div>
            <% } %>
            <% for (let i = 0; i < warnings.length; i++) { %>
                <div class="alert alert-danger" role="alert">
                    <%= warnings[i] %>
                </div>
            <% } %>
        </div>
-->
    </main>

    <%- include('footer') %>
  </body>
</html>
